body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 64%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: calc(50% - 10px);
    background-color:  hsl(0, 0%, 64%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.answer {
    margin-bottom: 20px;
}